*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-gray-700: #002706;
    --color-gray-800: #5a5a5a;
    --color-gray-900: #020204;
    --color-green: #00FF41;
    --radius-circle: 50%;
    --font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--color-gray-900);
    font-family: var(--font-family);
}

div {
    background-color: var(--color-gray-800);
    color: var(--color-light);
    text-align: center;
    width: 50%;
    margin: 30px auto;
    padding-block: 20px;
    border-radius: 15px;
    min-width: 500px;
}

img {
    width: 175px;
    height: 175px;
    border-radius: var(--radius-circle);
    object-fit: cover;
    border: 2px solid var(--color-light);
    transition: .7s;

    &:hover {
        border-color: var(--color-green);
        scale: 1.1;
    }
}

h1 {
    font-size: 40px;
    color:var(--color-green);
    margin-block: 10px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    width: 60%;
    margin-inline: auto;
    margin-bottom: 20px;
    line-height: 1.6;
    text-wrap: balance;
}

li {
    background-color: var(--color-gray-900);
    margin-block: 16px;
    width: 80%;
    margin-inline: auto;
    border-radius: 15px;
}

ul, ol {
    list-style: none;
}

a {
    color: var(--color-light);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-block: 16px;
    transition: .5s;
    border-radius: 15px;

    &:active {
        color: var(--color-green);
    }
}

#github:hover {
    background-color: #24262a;
}

#instagram:hover {
    background: linear-gradient(72.44deg,#ff7a00 11.92%,#ff0169 51.56%,#d300c5 85.69%);
}

#linkedin:hover {
    background-color: #0e76a8;
}